body {
    font-family: "Roboto Serif", sans-serif;
    background: #FF69B4;
    text-align: center;
}

.card {
    width: 220px;
    height: 160px;
    background: #da6173;
    margin: 20px auto;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    padding: 10px;
}

.card {
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}